* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f4f4;
  padding: 20px;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(10, 8, 70, 0.2);
  width: 100%;
}

.cadeado img {
  width: 40px;
  height: auto;
  margin-bottom: 10px;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #333;
}

p {
  font-size: 14px;
  color: rgb(22, 19, 101);
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 30px;
  margin-bottom: 15px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  background: #4285f4;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 16px;
}

button:hover {
  background: #357ae8;
}

.back-link {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  color: #f6f5f9;
  text-decoration: none;
}

.back-link:hover {
  text-decoration: underline;
}

.blue-box {
  background: #6c8df5;
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 15px;
}

@media (max-width: 480px) {
  .card {
    padding: 30px;
    border-radius: 15px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 13px;
  }

  .input-group input,
  button {
    font-size: 14px;
    padding: 10px;
  }

  .blue-box {
    padding: 15px;
  }
}
