:root {
  --primary-color: #6591eb;
  --secondary-color: #a5c0f5;
  --text-color: #17252a;
  --bg-color: #ffffff;
  --card-bg: #e3eefe;
  --laranja-bg: #ff9800;
  --input-bg: #f6f8fa; /* Claro, mas não branco puro */
  --input-text: #1a2330; /* Escuro para contraste */
}
