*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
}
header {
  background-color: #6c8df5;
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #6c8df5;
  font-size: 2rem;
}

.container {
  width: 100%;
  max-width: 400px;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 30px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-group {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 12px 15px;
  border: 2px solid #6c8df5;
  border-radius: 50px;
  font-size: 16px;
  outline: none;
}

.input-group img {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  opacity: 0.5;
}

.terms {
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;
}

.terms a {
  color: #6c8df5;
  text-decoration: none;
}

.criar-conta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.criar-button {
  background-color: #6c8df5;
  color: #fff;
  text-decoration: none;
  padding: 12px;
  width: 100%;
  border-radius: 50px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

button:hover {
  background-color: #5a7de5;
}

/* aqui está a responsividade*/

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }
  .container form {
    padding: 20px;
  }
  .input-group input {
    font-size: 14px;
  }
  button {
    font-size: 14px;
  }
}
