@import url("dashboard.css");


/* TELA 2 - VER FREQUÊNCIA */


.vf-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
}

.vf-subtitle {
  margin-bottom: 10px;
}

.vf-input-month {
  appearance: none;
  background-color: var(--laranja-bg);
  color: #fff;
  padding: 12px 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  width: 23.3%;
  margin-bottom: 15px;
}

.vf-input-month::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(2);
  opacity: 1;
}

.vf-tabela-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.vf-tabela {
  width: 70%;
  border: 1px solid var(--primary-color);
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
}

.vf-tabela thead th {
  background-color: var(--secondary-color);
  font-size: 18px;
  padding: 12px;
}

.vf-tabela th,
.vf-tabela td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  font-size: 16px;
  height: 50px;
}

.vf-tabela tr:nth-child(even) {
  background-color: var(--input-bg);
}

.vf-tabela td.vf-presente {
  background-color: #c8e6c9;
}

.vf-tabela td.vf-falta {
  background-color: #f1a6ae;
}


/*TELA 3 - BOLETIM RESPONSÁVEIS */

.tabela-boletim {
  width: 600px;
  border-collapse: collapse;
  text-align: center;
}

.tabela-boletim th,
.tabela-boletim td {
  border: 1px solid #ccc;
  padding: 8px;
  font-size: .8rem;
}

.tabela-boletim th {
  background-color: #e1ecf4;
  font-weight: bold;
}

.tabela-boletim tr:nth-child(even) {
  background-color: #f9f9f9;
}

.media-verde {
  background-color: #d4edda;
  color: #155724;
  font-weight: bold;
}

.media-vermelha {
  background-color: #f8d7da;
  color: #721c24;
  font-weight: bold;
}
