@import url("style-cores-globais.css");

body {
  background: linear-gradient(to bottom right, #a5c0f5, #ffffff);
  color: var(--text-color);
  padding: 2rem;
}

.perfil-container {
  max-width: 700px;
  margin: auto;
  background-color: var(--bg-color);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.imagem {
  display: flex;
  justify-content: center;
}

.perfil-container div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

label {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

input {
  width: 22rem;
  position: absolute;
  transform: translateX(50%);
}

select {
  width: 22rem;
  position: absolute;
  transform: translateX(50%);
}

input,
select,
textarea {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.75rem;
  border: none;
  margin-top: 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff9800;
}

@media (max-width: 600px) {
  body {
    padding: 1rem;
  }

  .perfil-container {
    padding: 1.5rem;
  }
}