@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-color);
  text-decoration: none;
  scroll-behavior: smooth;
  letter-spacing: 1px;
  line-height: 1.3;
}

body {
  font-family: 'noto sans', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
}

:root {
  --primary-color: #6591eb;
  --secondary-color: #a5c0f5;
  --tertiary-color: #000850;

  --laranja-bg: #ff9800;
  --text-color: #17252a;
  --bg-color: #ffffff;
  --card-bg: #e3eefe;
  --input-bg: #f6f8fa;
  /* Claro, mas não branco puro */
  --input-text: #1a2330;
  /* Escuro para contraste */
}

.bi {
  color: #fff;
}

.btn-voltar {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
  font-size: 24px;
  color: white;
  background-color: #00000080;
  padding: 10px 12px;
  border-radius: 50%;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn-voltar:hover {
  background-color: #000000cc;
}

.mensagem {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1e8449;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 1px solid #d4efdf;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;

  opacity: 0;
  animation: slideIn 1s ease-out forwards, fadeOut 1s ease-in forwards 4s;
}

@keyframes slideIn {
  to {
    top: 20px;
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    top: -100px;
  }
}

.mensagem.sucesso {
  background-color: #1e8449;
  border: 1px solid #d4efdf;
}

.mensagem.erro {
  background-color: #c0392b;
  border: 1px solid #f5b7b1;
}

.mensagem .mensagemText {
  color: #fff;
}